<%layout("/layouts/boilerplate")%>
<link rel="stylesheet" href="/css/newsStyles.css">

<section class="mentos" style="background-color: coral;">
    <div class="welmessage">
        <div class="mess">
            <p style="color: black;font-weight: 700;" class="messInside">
                Have A look at the world of tech on the GO!!
            </p>

        </div>
        <div class="inner">
            <div class="first">
                <div style="background: linear-gradient(90deg,darkblue,white);" class="red"></div>
            </div>
            <div class="second">
                <div style="background: linear-gradient(180deg,white,darkblue);" class="red1"></div>
            </div>
            <div class="third">
                <div style="background: linear-gradient(90deg,white,darkblue);" class="red2"></div>
            </div>
            <div class="fourth">
                <div style="background: linear-gradient(180deg,darkblue,white);" class="red3"></div>
            </div>
            
            <div class="innerMessage">
               
                Daily News @ late evening
            </div>
        </div>
        <div  class="mess">
            <p style="color: black;font-weight: 700;" class="messInside">

                In The Present Time Everyone Needs To Be Handy Around Technology
            </p>
        </div>
    </div>
    
</section>


<section class="container" style="background-color: coral;">
   <div>
       <h2>Browse By Brands</h2>
       <div>
           <span>Redmi</span>
           <div>
               <%for(let news of allnews){%>
                   <%if(news.brand=='redmi'){%>
                    <div class="card" style="width: 18rem;">
                        <img src="<%=news.image%>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text"><%=news.heading%></p>
                        </div>
                    </div>
                 <%}%>


                <%}%>
           </div>
        </div>
     <div>
         <span>One Plus</span>
         <div>
            <%for(let news of allnews){%>
                <%if(news.brand=='one plus'){%>
                 <div class="card" style="width: 18rem;">
                     <img src="<%=news.image%>" class="card-img-top" alt="...">
                     <div class="card-body">
                       <p class="card-text"><%=news.heading%></p>
                     </div>
                 </div>
              <%}%>


             <%}%>
        </div>
     </div>  
     <div>
         <span>Realme</span>
         <div>
            <%for(let news of allnews){%>
                <%if(news.brand=='realme'){%>
                 <div class="card" style="width: 18rem;">
                     <img src="<%=news.image%>" class="card-img-top" alt="...">
                     <div class="card-body">
                       <p class="card-text"><%=news.heading%></p>
                     </div>
                 </div>
              <%}%>


             <%}%>
        </div>
     </div>
     <div>
         <span>Motorola</span>
         <div>
            <%for(let news of allnews){%>
                <%if(news.brand=='motorola'){%>
                 <div class="card" style="width: 18rem;">
                     <img src="<%=news.image%>" class="card-img-top" alt="...">
                     <div class="card-body">
                       <p class="card-text"><%=news.heading%></p>
                     </div>
                 </div>
              <%}%>


             <%}%>
        </div>
     </div>

     <div>
         <span>Apple</span>
         <div>
            <%for(let news of allnews){%>
                <%if(news.brand=='apple'){%>
                 <div class="card" style="width: 18rem;">
                     <img src="<%=news.image%>" class="card-img-top" alt="...">
                     <div class="card-body">
                       <p class="card-text"><%=news.heading%></p>
                     </div>
                 </div>
              <%}%>


             <%}%>
        </div>
         
     </div>

      <div>
          <span>Samsung</span>
          <div>
            <%for(let news of allnews){%>
                <%if(news.brand=='samsung'){%>
                 <div class="card" style="width: 18rem;">
                     <img src="<%=news.image%>" class="card-img-top" alt="...">
                     <div class="card-body">
                       <p class="card-text"><%=news.heading%></p>
                     </div>
                 </div>
              <%}%>


             <%}%>
        </div>
      </div>
   
   
   
    </div>

   
</section>
