<%layout("/layouts/boilerplate")%>
<link rel="stylesheet" href="/css/bestStyles.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
<section class="outer">
    <div class="message">
          <p>
              No compromises HERE!!! bringing you the best under <%=under%>
          </p>
    </div>
    
   <section class="outer1">
        <section class="outer2">

        
        <%let i=1;%> 
        <%for(let mobile of mobiles){%>
            <div class="indi">
                
                
                <div class="content">
                   <div class="image">
                       <img src="<%=mobile.image%>" alt="">
                   </div>
                    <div class="other-than-content">
                       <div>
                        <span class="mobile-name"><%=mobile.name%></span>
                        <span class="mobile-price">
                           &#8377; <%=mobile.price%>
                        </span>
                       </div>
                       <div class="top-features">
                           <p>
                               Top Features
                           </p>
                           <ul type="none">
                               <li>lorem</li>
                               <li>lorem</li>
                               <li>lorem</li>
                               <li>lorem</li>
                               <li>lorem</li>
                           </ul>
                       </div>
                    <div class="info">
                       <p class="why">
                           Why AT 
                       </p>
                       <p id="icon" onclick="showWhy();"><i class="fas fa-question-circle"></i></p>
                       <p class="answer">
                           this is beacuse
                       </p>
                       
                    </div>
                       
                       <div class="view-compare">
                            <a href="/<%=mobile._id%>" class="view">view</a>
                             <a href="/compare/?mobile=<%=mobile._id%>" class="compare">compare</a>
                        </div>




                    </div>
                   
                </div>
                <div class="number">
                    <p>
                        <%=i++%>  
                     </p>
                </div>
               
                  
             </div>
 

        <%}%>
    </section>
   </section>
  
   















</section>


<script>



    let icon=document.querySelector("#butt");
    let answer=document.querySelector(".answer");
    showWhy=()=>{
        answer.style.display="block";
        console.log("bsdk");
    };
</script>

