<% layout("layouts/boilerplate")%>

  <link rel="stylesheet" href="/css/carausel.css">
  <link rel="stylesheet" href="/css/carouselSlider.css">
  <link rel="stylesheet" href="/css/home1.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">



  <section class="biggestOuter">


    
    <div class="mainArea">


      <div class="Area">
       

        <div class="carousel" style="transition: 1s all ease-in;" data-aos="fade-left"
        data-aos-anchor="#example-anchor"
        data-aos-offset="500"
        data-aos-duration="500">

          <%for(let mobile of mobiles){%>
           <a href="/<%=mobile._id%>">
              <div class="slides" style="transition: all 1s ease-in-out;">
                <img src="<%=mobile.image%>" alt="" class="slide-image" style="width: 100%;">
              </div>
            </a>
              <%}%>
                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>

        </div>

      </div>
      <section class="goaround">
        <div class="budget" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">

          <div class="message">
            <p class="phoneFind">Lets's Find a Phone In your Budget </p>
          </div>

          <!-- <div style="padding: 10px; font-weight: bold;">
            <span>
              Price Range
            </span>
          </div> -->
          <form action="/rangeMobiles" class="form customFormInputs" method="post">
          
          
          
            <p style="margin: 0;">Price Range</p>
            <section class="range-slider" style="width: 100%; height: 20%;">
              <span class="rangeValues"></span>
              <input value="500" min="500" max="50000" step="500" type="range" class="minprice">
              <input value="50000" min="500" max="50000" step="500" type="range" class="maxprice">
            </section>
            <div style="display: flex;">
              <div style="width: 50%;">
                <label for="min">Min.</label>
                <input type="number" id="min" min="4000" max="35000" step="500" name="min" style="width: 70%;" class="minpricenum">
              </div>
              <div style="width: 50%;">
                <label for="max">Max.</label>
                <input type="number" id="max" min="4000" max="40000" step="1000" name="max" style="width: 70%;" class="maxpricenum">
              </div>
            </div>
          
            <button>Find Mobiles &#10095;</button>
          </form>

        </div>

        <div  class="goaroundRight" data-aos="zoom-out-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
          <div
            style="background-color:#f1faee;height: 40%;display: flex;justify-content: center;align-items: center;padding: 20px;flex-wrap: wrap;border-top-right-radius: 20px;border-top-left-radius: 20px;">
            <p style="font-weight: 700;font-size: x-large;">
              Don't wanna choose around price,Choose around main feature
            </p>
          </div>
          <div class="innerFeature">
            <a href="" style="width: 30%;" class="anchorFeature">
              <div style="width: 100%;text-align: center;">
                <i class="fas fa-camera"></i>
                <p>Camera centric</p>
              </div>
            </a>
            <a href="" style="width: 30%;" class="anchorFeature">
              <div style="width: 100%;text-align: center;">
                <i class="fas fa-tachometer-alt"></i>
                <p>performance centric</p>
              </div>
            </a>
            <a href="" style="width: 30%;" class="anchorFeature">
              <div style="width: 100%;text-align: center;">
                <i class="fas fa-tv"></i>
                <p>display centric</p>
              </div>
            </a>
            <a href="" style="width: 30%;" class="anchorFeature">
              <div style="width: 100%;text-align: center;">
                <i class="fas fa-pencil-alt"></i>
                <p>awesome design</p>
              </div>
            </a>
            <a href="" style="width: 30%;" class="anchorFeature">
              <div style="width: 100%;text-align: center;">
                <i class="fas fa-headset"></i>
                <p>Gaming phones</p>
              </div>
            </a>
            <a href="" style="width: 30%;" class="anchorFeature">
              <div style="width: 100%;text-align: center;">
                <i class="fas fa-globe"></i>
                <p>The All rounder</p>
              </div>
            </a>
        
          </div>
        </div>
            

        </div>

      </section>
      <section  class="outerSection">
        <h2 class="text-center">Meet The Newly Launched</h2>
        <div class="outer">
          
          <div class="firstSlide" style="width: 100%;">
              <%for(let i=0;i<3;i++){%>
                <div class="card">
                  <img class="card-img-top slides1" src="<%=mobiles[i].image%>" alt="Card image cap" style="border-radius: 20px;">
                  <div class="card-body">
                    <h5 class="card-title"><%=mobiles[i].name%></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                      content.</p>
              
                  </div>
                  <div class="btLinks">
                    <a href="/<%=mobiles[i]._id%>" class="moblink first">view</a>
                    <a href="/compare/?mobile=<%=mobiles[i]._id%>" class="second">compare</a>
                  </div>
              
                </div>


                <%}%>
          </div>

         

          <div class="secondSlide" style="width: 100%;">
            <%for(let i=3;i<6;i++){%>
              <div class="card">
                <img class="card-img-top slides1" src="<%=mobiles[i].image%>" alt="Card image cap" style="border-radius: 20px;">
                <div class="card-body">
                  <h5 class="card-title"><%=mobiles[i].name%></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            
                </div>
                <div class="btLinks">
                  <a href="/<%=mobiles[i]._id%>" class="moblink first">view</a>
                  <a href="/compare/?mobile=<%=mobiles[i]._id%>" class="second">compare</a>
                </div>
            
              </div>


              <%}%>
           

          </div>
          
                
        
        
          

          
         
            
          
          <a class="prevImg">&#10094;</a>
          <a class="nextImg">&#10095;</a>
          


        </div>


      </section>



    </div>

    <div style="height: 100%;" id="leftresponsive">
      <h1 class="starting-message text-center w-100">Recent Stories</h1>
      <%for(let story of stories){%>
        <div class="card news">
          <img src="<%=story.image%>" class="" alt="..." height="50%" width="100%" style="width: 100%;height: 50%;">
          <div class="card-body">
            <p class="card-text">
              <%=story.heading%>
            </p>
          </div>
        </div>

        <%}%>
    </div>
    
  </section>

  <div  class="middleSlideres d-none">
    <%for(let i=2;i<4;i++){%>
      <div class="card">
        <img class="card-img-top slides1" src="<%=mobiles[i].image%>" alt="Card image cap" style="border-radius: 20px;">
        <div class="card-body">
          <h5 class="card-title"><%=mobiles[i].name%></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    
        </div>
        <div class="btLinks">
          <a href="/<%=mobiles[i]._id%>" class="moblink first">view</a>
          <a href="/compare/?mobile=<%=mobiles[i]._id%>" class="second">compare</a>
        </div>
    
      </div>
      
      
      <%}%>
    </div>
  

    <section class="container" style="width: 100%;padding: 10px;background-color: lightblue;border-radius: 20px;">
      <div style="width: 100%;text-align: center;margin: 0;"> 
        <p style="margin: 0;padding: 20px;font-size: large;">Subscribe To Our Weekly Newsletter <br> this will just give you a weekly dose of some important news and some deals</p>
      </div>        
      <form action="/subscribe" class="d-flex" style="width: 100%;padding-left: 50px;padding-right: 50px;" method="post">
        <label for="email" style="margin-top: 10px;">Email-ID</label>           
        <input type="email"  id="email" name="email_id" style="width: 50%;margin-left: 20px;margin-right: 20px" class="form-control">
        <button class="btn btn-primary btn-sm">subscribe</button>


      </form>
    </section>



  <script src="/javascript/carausel.js"></script>

  <script src="/javascript/carauselS.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>



    


    

    let rangeinputmin=document.querySelector(".minprice");
    let rangeinputmax=document.querySelector(".maxprice");
    
    let rangenummin=document.querySelector(".minpricenum");
    rangenummin.value=500;
    let rangenummax=document.querySelector(".maxpricenum");
    rangenummax.value=50000;
    rangeinputmin.addEventListener("input",()=>{
      // console.log("hiiiiii");
      rangenummin.value=rangeinputmin.value;
    })

    rangeinputmax.addEventListener("input",()=>{
      rangenummax.value=rangeinputmax.value;
    })

   rangenummin.addEventListener("input",()=>{
     rangeinputmin.value=rangenummin.value;
   })

   AOS.init();

    






  </script>