<% layout("layouts/boilerplate")%>

  <link rel="stylesheet" href="/css/carausel.css">
  <link rel="stylesheet" href="/css/carouselSlider.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  



  <section class="biggestOuter">


    <div style="height: 100%; width:15%;" class="stories">

      <h1 style="margin: 0px 0px 20px 0px; text-align: center;">Recent Stories</h1>
      <%for(let story of stories){%>
        <div class="card" style="width: 100%;height: 400px; margin-bottom: 20px;">
          <img src="<%=story.image%>" class="" alt="..." height="200px" style="width: 100%; height: 50%;">
          <div class="card-body">
            <p class="card-text">
              <%=story.message%>
            </p>
          </div>
        </div>

        <%}%>

    </div>
    <div class="mainArea">


      <div class="Area">
        <div class="budget">

          <div class="message">
            <p class="phoneFind">Lets's Find a Phone In your Budget </p>
          </div>

          <!-- <div style="padding: 10px; font-weight: bold;">
            <span>
              Price Range
            </span>
          </div> -->
          <form action="/rangeMobiles" class="form customFormInputs" method="post">
          
          
          
            <p style="margin: 0;">Price Range</p>
            <section class="range-slider" style="width: 100%; height: 20%;">
              <span class="rangeValues"></span>
              <input value="500" min="500" max="50000" step="500" type="range" class="minprice">
              <input value="50000" min="500" max="50000" step="500" type="range" class="maxprice">
            </section>
            <div style="display: flex;">
              <div style="width: 50%;">
                <label for="min">Min.</label>
                <input type="number" id="min" min="4000" max="35000" step="500" name="min" style="width: 70%;" class="minpricenum">
              </div>
              <div style="width: 50%;">
                <label for="max">Max.</label>
                <input type="number" id="max" min="4000" max="40000" step="1000" name="max" style="width: 70%;" class="maxpricenum">
              </div>
            </div>
          
            <button>Find Mobiles &#10095;</button>
          </form>

        </div>


        <div class="carousel">

          <%for(let mobile of mobiles){%>
           <a href="/<%=mobile._id%>">
              <div class="slides">
                <img src="<%=mobile.image%>" alt="" class="slide-image" style="width: 100%;">
              </div>
            </a>
              <%}%>
                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>

        </div>

      </div>

      <section class="outerSection">
        <h2 class="text-center">Meet The Newly Launched</h2>
        <div class="outer">
          
          <div class="firstSlide" style="width: 100%;">
              <%for(let i=0;i<3;i++){%>
                <div class="card" style="max-width: 33%;">
                  <img class="card-img-top slides1" src="<%=mobiles[i].image%>" alt="Card image cap" style="border-radius: 20px;">
                  <div class="card-body">
                    <h5 class="card-title"><%=mobiles[i].name%></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                      content.</p>
              
                  </div>
                  <div class="btLinks">
                    <a href="/<%=mobiles[i]._id%>" class="moblink first">view</a>
                    <a href="/compare" class="second">compare</a>
                  </div>
              
                </div>


                <%}%>
          </div>

          <div class="secondSlide">
            <%for(let i=3;i<6;i++){%>
              <div class="card" style="max-width: 33%;">
                <img class="card-img-top slides1" src="<%=mobiles[i].image%>" alt="Card image cap" style="border-radius: 20px;">
                <div class="card-body">
                  <h5 class="card-title"><%=mobiles[i].name%></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            
                </div>
                <div class="btLinks">
                  <a href="/<%=mobiles[i]._id%>" class="moblink first">view</a>
                  <a href="/compare" class="second">compare</a>
                </div>
            
              </div>


              <%}%>
           

          </div>
          
                
        
        
          

          
         
            
          
          <a class="prevImg">&#10094;</a>
          <a class="nextImg">&#10095;</a>
          


        </div>


      </section>



    </div>

    <div style="height: 100%;" id="leftresponsive">
      <h1 class="starting-message text-center">Recent Stories</h1>
      <%for(let story of stories){%>
        <div class="card news">
          <img src="<%=story.image%>" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              <%=story.message%>
            </p>
          </div>
        </div>

        <%}%>
    </div>
    <div style="width: 15%; height: 1000px;">
      right Area
    </div>
  </section>


  



  <script src="/javascript/carausel.js"></script>

  <script src="/javascript/carauselS.js"></script>
  <script>



    


    

    let rangeinputmin=document.querySelector(".minprice");
    let rangeinputmax=document.querySelector(".maxprice");
    
    let rangenummin=document.querySelector(".minpricenum");
    rangenummin.value=500;
    let rangenummax=document.querySelector(".maxpricenum");
    rangenummax.value=50000;
    rangeinputmin.addEventListener("input",()=>{
      // console.log("hiiiiii");
      rangenummin.value=rangeinputmin.value;
    })

    rangeinputmax.addEventListener("input",()=>{
      rangenummax.value=rangeinputmax.value;
    })

   rangenummin.addEventListener("input",()=>{
     rangeinputmin.value=rangenummin.value;
   })



    






  </script>