<%layout("/layouts/boilerplate")%>


<link rel="stylesheet" href="/css/newsStyles.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>





<section class="back">
    <div class="message">
         
             <span class="animate"> Welcome To The Trakin Zone News</span>
             <span class="animate">Daily @ 7PM</span> 
         
    </div> 
    
    <div class="image-div"> 
        <img src="https://images.unsplash.com/photo-1576502200272-341a4b8d5ebb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
    </div>

    <div class="trending">
        <div class="news-card">
            <div class="brand-name">
                <span>redmi</span>
        
            </div>
            <div class="share-icon">
                
            </div>
        
            <div class="news-image">
                <img src="https://cdn.cnn.com/cnnnext/dam/assets/190908171637-cnn-app-banner-image-super-tease.jpg" alt="">
            </div>
            <div class="news-heading">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus adipisci modi tempore dolor, pariatur sint vitae error  .</p>
            </div>
            <div class="read-more">
                <a href="/news">Read More</a>
            </div>
        
            <div class="icons">
                <button class="buttons"><span><i class="far fa-thumbs-up"></i>121</span></button>
                <button class="buttons"> <span><i class="far fa-thumbs-down"></i>56</span></button>
                <button class="buttons"><span><i class="fas fa-comment"></i>26</span></button>
                <a href=""><i class="fas fa-share"></i></a>
            </div>
    
            <div class="comments-div">
                    
                <div class="comments">
                 <span class="close-btn">&times;</span>
                    
                    <div>
                        <span class="comment-title">Comments</span>
                       <div class="one-comment">
                           <span>
                               Atishay Jain
                           </span>
                       </div>
                        
                    </div>
    
                </div>
    
             </div>
        </div>
  

    </div> 

    
 
</section>


<section class="news-section">

    <%for(let news of allnews){%>
    <div class="news-card">
        <div class="brand-name">
            <span><%=news.brand%></span>
    
        </div>
        <div class="share-icon">
            
        </div>
    
        <div class="news-image">
            <img src="<%=news.image%>" alt="">
        </div>
        <div class="news-heading">
            <p><%=news.heading%></p>
        </div>
        <div class="read-more">
            <a href="/news">Read More</a>
        </div>
    
        <div class="icons">
            <button class="buttons upvote" data-news=<%=news.id%> data-upvoted=<%if(currentUser){%>
                <%= (news.upVotes.includes(currentUser.id)) %>
                <% }else{ %>
                    <%=false%>
                    
                    <% } %> 
                    
            >
            
            <i class="fas fa-thumbs-up"></i><span></i><%=news.upVotes.length%></span></button>
            <button class="buttons downvote" data-news="<%=news.id%>" data-downvoted=<%if(currentUser){%>
                <%= (news.downVotes.includes(currentUser.id)) %>
                <% }else{ %>
                    <%=false%>
                    
                    <% } %>><i class="far fa-thumbs-down"></i> <span><%=news.downVotes.length%></span></button>
           
            <a href=""><i class="fas fa-share"></i></a>
        </div>

        <div class="comments-div">
                
            <div class="comments">
             <span class="close-btn">&times;</span>
                
                <div>
                    <span class="comment-title">Comments</span>
                   <div class="one-comment">
                       <span>
                           Atishay Jain
                       </span>
                   </div>
                    
                </div>

            </div>

         </div>
    </div>
    
    <%}%>    




 </section>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
 <script src="/javascript/news.js"></script>